body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.app {
  color: rgb(5, 36, 63);
  background-color: aliceblue;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 30px;
}
button {
  padding: 5px;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

form {
  padding: 10px 0;
  font-size: 24px;
}

#form {
  font-size: 18px;
  padding: 5px;
}

#form-submit {
  font-size: 18px;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.quote {
  font-style: italic;
  font-size: 28px;
  padding: 20px 0;
}
