body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.app {
  color: rgb(5, 36, 63);
  background-color: aliceblue;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 30px;
}
button {
  padding: 5px;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
}

form {
  padding: 10px 0;
  font-size: 24px;
}

.form {
  font-size: 18px;
  padding: 10px;
  font-style: italic;
  background-color: #d9e6f2;
  border: none;
  border-radius: 5px;
}

.submit-button {
  font-size: 18px;
  background-color: #0b096a;
  color: aliceblue;
  border: none;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.submit-button:hover {
  color: #0b096a;
  background-color: #88b5dc;
  cur
}

.quote {
  font-style: italic;
  font-size: 28px;
  padding: 20px 0;
}

blockquote {
  font-weight: 100;
  font-size: 2rem;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 0;
  padding: 5.5rem;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #0b096a;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: 0rem;
  top: 2rem;
}

blockquote:after {
  content: "”";
  right: 0rem;
  bottom: 6rem;
}

cite {
  line-height: 3;
  text-align: left;
}
